<form action="/student/staff_register/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
username : <input type="text" name="username"><br>
email : <input type="email" name="email"><br>
password  : <input type="password" name="password"><br>
staff_mob : <input type="number" name="staff_mob"><br>
<label for="staff_dept"> staff_dept</label>
  <select name="staff_dept" id="staff_dept">
    <option value="CE">CE</option>
    <option value="CSE">CSE</option>
    <option value="ECE">ECE</option>
    <option value="EEE">EEE</option>
    <option value="ME">ME</option>
  </select>
    <br>
<label for="staff_gender"> staff_gender</label>
  <select name="staff_gender" id="staff_gender">
    <option value="M">M</option>
    <option value="F">F</option>
    <option value="O">O</option>
  </select>
    <br>
qualification : <input type="text" name="qualification"><br>
staff_pic : <input type="file" name="staff_pic"><br>
experience : <input type="text" name="experience"><br>

<input type="submit" value="Register">
</form>
<a href="/student/home/">Back</a>